@model HealthApp.Models.MedicalRecord

@{
    ViewData["Title"] = "Details";
}

<h2>Medical Record Overview</h2>

<div>
    <h4>MedicalRecord</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Date)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Date)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.RedBloodCount)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.RedBloodCount)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.WhiteBloodCount)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.WhiteBloodCount)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.BloodGlucose)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.BloodGlucose)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Cholestorol)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Cholestorol)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Hemoglobin)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Hemoglobin)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Iron)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Iron)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.B12)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.B12)
        </li>
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedicalRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
