@model HealthApp.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h2>Exercise Overview</h2>

<div>
    <hr />
    <ul class="list-group">
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Title)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Title)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Duration)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Duration)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Date)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Date)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Weight)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Weight)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Sets)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Sets)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Reps)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Reps)
        </li>
      </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


