@model HealthApp.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h2>Exercise Overview</h2>

<div>
    <hr />
    <dl class="table table-condensed">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


