@model IEnumerable<HealthApp.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}

<h2>Exercise</h2>

<p>
    <a asp-action="Create">Enter New Exercise</a> |
    <a asp-action="ExerciseChart">Chart Details</a> 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reps)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reps)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExerciseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExerciseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExerciseId">Delete</a> |
                    @*<a asp-action="Create" asp-route-id="@item.RoutineId">Add to Routine</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
