@model HealthApp.Models.Meal

@{
    ViewData["Title"] = "Details";
}

<h2>Meal Overview</h2>

<div>
    <hr />
    <ul class="list-group">
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Title)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Title)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Protein)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Protein)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Carbohydrates)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Sugar)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Sugar)
        </li>
        <li class="list-group-item fix list-group-item-info color">
            @Html.DisplayNameFor(model => model.Sodium)
        </li>
        <li class="list-group-item fix">
            @Html.DisplayFor(model => model.Sodium)
        </li>
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
