@model IEnumerable<HealthApp.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h2>Meal List</h2>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="ChartDetails">Chart Meals</a>
</p>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Protein)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carbohydrates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sugar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sodium)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodium)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MealId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MealId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MealId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
