@model List<Measurement>

@{
    ViewData["Title"] = "User Details";
}

<h4>Personal Details</h4>
@foreach (var item in Model)
{
    <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => item.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.Date)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => item.BodyWeight)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.BodyWeight)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => item.BMI)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.BMI)
                </dd>
            </dl>
        </div>
}

